@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #555555;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}


.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 950px;
    width: 100%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    gap: 10px;
    overflow: scroll;
    background-color: #2f754b;

}

.input-wrapper{
    display: flex;
    position: relative;
    width: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 5px;
}

.wrap-the-inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#title-to-add{
    border-bottom: solid 1px #555555;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#task-to-add{
    border-top: solid 1px #555555;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.input-wrapper input{
    height: 70px;
    border-radius: 15px;
    border: none;
    font-size: 25px;
}

.input-wrapper button{
    height: 140px;
    background-color: #318CE7;
    border: none;
    border-radius: 10px;
    align-self: center;
    color: white;
    width: 40%;
    font-size: 25px;
    margin-right: 40px;
}

.input-wrapper button:hover{
    cursor: pointer;
}

.post-parent{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
    margin-bottom: 20px;
}

.pin-icon{
    position: absolute;
    top: 10px;
}

li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    gap: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-width: 5px 3px 3px 5px;
  border-radius:90% 7% 99% 3%/2% 98% 5% 97%;
  transform: rotate(1deg);
  border-color: black;
    width: 40%;
    height: 200px;
    background-color: white;
    transform: rotate(-180deg);
}

li h3{
    font-family: "Caveat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500px;
  font-size: 30px;
}

li p{
    font-family: "Caveat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500px;
  font-size: 25px;
}

li input{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

li button {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.button-wrapper{
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
    gap: 10px;
    margin-right: 30px;
}

.post-complete, .post-edit, .post-delete{
    background-color: white;
    border: none;
}

.post-complete:hover, .post-edit:hover, .post-delete:hover{
  cursor: pointer;
}


.post-delete-btn{
    filter: brightness(0) saturate(100%) invert(18%) sepia(87%) saturate(7102%) hue-rotate(4deg) brightness(99%) contrast(108%);
}

.post-edit-btn{
    filter: brightness(0) saturate(100%) invert(53%) sepia(81%) saturate(807%) hue-rotate(159deg) brightness(104%) contrast(95%);
}

.post-complete-btn{
    filter: brightness(0) saturate(100%) invert(66%) sepia(76%) saturate(477%) hue-rotate(60deg) brightness(94%) contrast(87%);
}

.completeTask {
    text-decoration-line: line-through;
    color: gray;
}

.editWindow {
    position: absolute;
width: 80%;
height: 900px;
}